.vscode/c_cpp_properties.json
.vscode/uv4.log.lock
.vscode/keil-assistant.log

.DS_Store
**/.DS_Store

*.o
*.crf
*.d
*.axf
*.bin
*.dep
*.uvoptx
*.uvguix.*
Objects/CommomBQ769x0_16series_030C8T6_C_Target 1.dep
DebugConfig/Target_1_STM32F030C8.dbgconf
Objects/
Listings/
CommomBQ769x0_16series_030C8T6_C.uvoptx
CommomBQ769x0_16series_030C8T6_C.uvguix.cs
JLinkLog.txt
JLinkSettings.ini
CommomBQ769x0_16series_030C8T6_C.uvguix.Administrator
.vscode/settings.json
EventRecorderStub.scvd
Users/.vscode/c_cpp_properties.json
Users/Listings/startup_stm32f10x_hd.lst
Users/DebugConfig/Target_1_STM32F103RC_1.0.0.dbgconf
Users/CommomSH367309_16series_103RCT6_C.uvguix.Administrator
Users/.vscode/uv4.log.lock
Users/.vscode/keil-assistant.log
Users/CommomSH367309_16series_103RCT6_C.uvoptx

*.eww
*.ewp

*.o
